body{
  background-image: url("../images/portfolio_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
}
.menu{
  height: 80px;
  width: auto;
  background-color: #000;
  margin-top: -20px;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}
.menu li a {
  display: block;
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
}

h1{
  color: blue;
  text-align: center;
}
.firstpage p{
  font-size: 100px;
  color: #fff;
  margin-left: 850px;
  margin-right: 200px;
  margin-top: 200px;
  font-family: 'Tangerine', serif;
}
br{
  line-height: 50px;
}
.quote{
  margin-left: 100px;
}
.pagelink p a{
  color: #fff;
}
#portfolio_link{
  font-size: 60px;
  margin-left: 1000px;
  font-weight: bolder;
  margin-top: 100px;
}
